# Telegram bot token
BOT_TOKEN=

# Telegram payment provider token (optional if you want to send payments)
BOT_PAYMENT_TOKEN=

# Supabase credentials
SUPABASE_URL=
SUPABASE_ANON_KEY=
# Supabase credentials for client-side
